/* FOOTER */

.rodapie {
    height: 50vh;
    padding:  0;
}

.footer {
    display: block;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 65vh;
    background-color: #EAF2FD;
    padding: 20px 0;
    border-radius: .8rem;
}

.footer__container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 50vh;
    padding: 10px 5px;
}

.footer__logo {
    width: 28%;
    margin-top: 30px;
    text-align: center;
}

.footer__links{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 28%;
    margin-top: 30px;
}

.footer__link {
    display: flex;
    justify-content: center;
    width: 70%;
    padding: 10px 0;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    color: #2A7AE4;
    border: 1px solid transparent;
    outline: transparent;
}

.footer__contacto {
    display: flex;
    flex-direction: column;
    width: 28%;
    margin-top: 30px;
}

.footer__titulo{
    padding: 10px 0;
    font-size: 16px;
}

.footer__nombre{
    display: block;
    width: 100;
    padding: 10px;
    text-align: justify;
    background-color: white;
    font-size: 14px;
    color: gray;
}

.footer__input{
    display: block;
    width: 100%;
    padding: 5px 5px;
    border-radius: .5rem;
    margin-bottom: 10px;
    outline: none;
    background-color: white;
}

.footer__textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 20px 0 0 10px;
    border: none;
    border-radius: .5rem;
    outline: none;
}

.footer__btn-enviar-mensaje {
    width: 70%;
    padding: 10px 50px;
    background-color: #2A7AE4;
    color: #FFF;
    border: 1px solid #2A7AE4;
    transition: .5s all ease-in-out;
    border-radius: 1rem;
}

.footer__btn-enviar-mensaje:hover {
    background-color: #FFF;
    color: #2A7AE4;
}

.final {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    text-align: center;
}

.final a {
    margin: 0;
    text-decoration: none;
    padding: -50px 0;
}

.final p {
    margin: 0;
    text-decoration: none;
    padding: 10px 0;
}

.logo-team {
    transition: ease-in-out .4s;
}

.logo-team:hover {
    filter: drop-shadow(5px 5px 5px #2A7AE4);
    transform: scale(1.1);
}

.logo-sena{
    transition: ease-in-out .4s;
}

.logo-sena:hover {
    filter: drop-shadow(5px 5px 5px green);
    transform: scale(1.1);
}