@media screen and (max-width: 768px) {

    .cabecera{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .cabecera__container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items:center ;
        width: 100%;
        height: 25vh;
        margin: 0 auto;
        text-align: center;
    }
    
    .nav-1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        width:45%;
    }
    
    .logo img{
        width: 30%;
    }

    .enlaceLogo {
        width: 100%;
    }

    .tituloPrincipal{
        width: 80%;
    }
    
    .buscador{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
    }

    .cabecera__buscador {
        width: 70%;
        padding: 15px;
    }

    .cabecera__lupa {
        width: 20%;
        padding: 15px;
    }

    .nav-2{
        width: 100%;
        height: 10%;
    }

    /* BANNER */

    .banner__info {
        height: 17vh;
    }

    /* PRODUCTOS */

    .star__wars {
        height: 28vh;
    }

    .starWars__ocultar {
        display: none;
    }

    .rodapie{
        height: 50vh;
    }

    .footer__container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 35vh;
    }
    
    .footer {
        width: 100%;
        height: 40vh;
    }

    .footer__nombre{
        width: 89.59%;
    }

    .footer__logo {
        width: 40%;
    }

    .footer__links {
        display: none;
        width: 40%;
    }

    .footer__contacto {
        width: 40%;
    }
}

@media screen and (max-width:415px) {
    
                                    /* CABECERA */
    .cabecera {
        flex-direction: column;
        width: 100%;
        height: 45vh;
        padding: 5px;
        margin-bottom: 20px;
    }

    .cabecera__container {
        width: 90%;
        margin: 0 auto;
        text-align: center;
        flex-direction: column;
    }

    .nav-1{
        width: 100%;
        height: auto;
    }
    
    .logo{
        width: 100%;
    }

    .cabecera__imagen {
        width: 100%;
        height: auto;
        padding: 25px;
        margin: 0 auto;
        text-align: center;
    }

    .cabecera__imagen img{
        width: 100%;
    }
    
    .cabecera__buscador {
        width: 70%;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px;
        font-size: 16px;
        border-radius: 2rem;
        text-align: center;
    }

    .cabecera__lupa {
        margin: 0 auto;
        padding: 5px 10px;
        padding-left: 20px;
        border-radius: 2rem;
        text-align: center;
    }  
    
    .nav-2{
        width: 100%;
        height: auto;
    }

    .login{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50%;
    }
    
    #btnRegistro{
        width: 100%;
        height: auto;
    }

    .usuario-section{
        margin: 10px 5px;
    }

                                           /* BANNER */
    .banner{
        width: 100vw;
        height: 60vh;
    }
    
    .banner__info {
        flex-direction: column;
        text-align: center;
        width: 100%;
        height: 35vh;
        padding: 10px 30px;
    }

    .banner__titulo {
        font-size: 2.5rem;
    }

                                            /* PRODUCTOS */

    .star__wars {
        width: 100%;
    }

    .starWars__container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        height: 10vh;
        margin: 0 auto;
    }

    .starWars__productos {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    
    .starWars__producto {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .product-txt{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .starWars__ocultar {
        display: none;
    }

    .consola {
        margin-top: 300px;
    }
    
    .diversos {
        margin-top: 300px;
    }

                                                /* RODAPIE */

    .rodapie{
        width: 100%;
        height: 50vh;
    }

    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 85vh;
    }

    .footer__container {
        flex-direction: column;
    }

    .footer__logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50%;
        margin: 0 auto;
        margin-top: 30px;
    }

    .footer__links {
        display: none;
        width: 100%;
        margin: 0 auto;
    }
    
    .footer__contacto {
        width: 100%;
        margin: 0 auto;
    }

    .footer__titulo{
        margin-top: 20px;
        text-align: center;
    }

    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 90%;
        padding: 10px 0;
    }

    .footer__input{
        width: 90%;
        margin: 0 auto;
        margin-bottom: 10px;
        border-radius: .5rem;
    }
    
    .footer__textarea {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 30px;
        text-align: center;
        border-radius: .5rem;
    }

    .footer__btn-enviar-mensaje {
        margin: 0 auto;
        margin-top: 30px;
        text-align: center;
        border-radius: 1rem;
    }

    .final {
        display: flex;
        flex-direction: column-reverse  ;
        margin-top: 90px;
    }
    .final a, p {
        color: #2A7AE4;
        margin-bottom: 10px;
    }
}